.error-container[data-v-f66be976]{position:-webkit-sticky;position:sticky;top:0;display:inline-block;text-align:center;background-color:red;color:#fff;margin:0 auto 20px;padding:10px 40px;border-radius:8px;z-index:9999}