<template>
  <div class="container">
    <div class="card" style="padding: 20px; margin-top: 20px">
      <h5 class="card-title">Login</h5>
      <div class="error-container" v-if="err && !waitingForResponse">
        <img
          src="../assets/exclamation-triangle-solid.svg"
          style="width: 20px; margin-right: 20px"
        />
        {{ err }}
      </div>

      <b-form @submit="onSubmit">
        <b-form-invalid-feedback :validate="true">{{
          err
        }}</b-form-invalid-feedback>

        <b-form-group
          id="input-group-2"
          label="Your Username:"
          label-for="input-2"
        >
          <b-form-input
            id="input-2"
            v-model="form.username"
            required
            placeholder="Enter username"
          ></b-form-input>
          <div id="usernameHelp" class="form-text text-muted font-weight-light">
            Use username
            <span class="font-italic font-weight-bold">storeOwner</span> or
            <span class="font-italic font-weight-bold">customer</span> to login
            without creating an account.
          </div>
        </b-form-group>

        <b-form-group
          id="input-group-4"
          label="Your Password:"
          label-for="input-4"
        >
          <b-form-input
            type="password"
            id="input-4"
            v-model="form.password"
            required
            placeholder="Enter password"
          ></b-form-input>
          <div id="usernameHelp" class="form-text text-muted font-weight-light">
            Use password
            <span class="font-italic font-weight-bold">password</span> to login
            without creating an account.
          </div>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button variant="link" @click="signup">Create an account</b-button>
      </b-form>
    </div>
    <div
      class="text-center mt-3 d-flex justify-content-center"
      v-if="waitingForResponse"
    >
      <b-spinner variant="dark" key="variant" type="grow"></b-spinner>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
// import { router } from '../Routes';

export default {
  name: "Login",
  data: () => {
    return {
      form: {
        username: "",
        password: "",
      },
      err: "",
      waitingForResponse: false,
    };
  },
  methods: {
    ...mapActions(["login"]),

    async onSubmit(evt) {
      evt.preventDefault();
      this.waitingForResponse = true;
      try {
        await this.login(this.form, "/home");
        this.$router.push("/");
      } catch (err) {
        this.err = err.response.data.message;
      }
      this.waitingForResponse = false;
    },
    signup() {
      this.$router.push("/signup");
    },
  },
};
</script>

<style scoped>
.error-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: white;
  margin: 0px auto 20px;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 9999;
}
</style>