<template>
  <div class="container">
    <div class="card" style="padding: 20px; margin-top: 20px">
      <h5 class="card-title">Signup</h5>

      <div class="error-container" v-if="err && !waitingForResponse">
        <img
          src="../assets/exclamation-triangle-solid.svg"
          style="width: 20px; margin-right: 20px"
        />
        {{ err }}
      </div>
      <b-img
        rounded="circle"
        :src="this.image"
        alt="Circle image"
        class="profile-pic"
        v-if="form.profilePic"
      ></b-img>
      <div
        :class="{
          dropper: !form.profilePic,
          'dropper-filled': form.profilePic,
        }"
      >
        <span v-if="!form.profilePic">Select Profile Picture</span>
        <span v-else>Upload another</span>
        <input type="file" accept="image/*" @change="onFileSelect" />
      </div>

      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Your Username:"
          label-for="input-2"
        >
          <b-form-input
            id="input-2"
            v-model="form.username"
            required
            placeholder="Enter username"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Your Name:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.name"
            required
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-4"
          label="Your Password:"
          label-for="input-4"
        >
          <b-form-input
            type="password"
            id="input-4"
            v-model="form.password"
            required
            placeholder="Enter password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-5"
          label="Confirm Your Password:"
          label-for="input-5"
        >
          <b-form-input
            type="password"
            id="input-5"
            v-model="form.passwordConfirm"
            required
            placeholder="Confirm password"
          ></b-form-input>
        </b-form-group>

        <div
          class="report-buttons-container d-flex justify-content-between mt-4"
        >
          <b-button type="reset" variant="danger">Reset</b-button>
          <b-button type="submit" variant="primary">Submit</b-button>
        </div>
        <br />
        <div class="d-flex justify-content-end">
          <b-button variant="link" @click="login" style="margin-top: 15px"
            >Login instead</b-button
          >
        </div>
        <div
          class="text-center mt-3 d-flex justify-content-center"
          v-if="waitingForResponse"
        >
          <b-spinner variant="dark" :key="variant" type="grow"></b-spinner>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        email: "",
        name: "",
        username: "",
        password: "",
        passwordConfirm: "",
        profilePic: "",
      },
      image: "",
      waitingForResponse: false,
      err: "",
    };
  },
  methods: {
    ...mapActions(["signup"]),

    async onSubmit(evt) {
      evt.preventDefault();
      this.waitingForResponse = true;
      try {
        await this.signup(this.form, "/home");
        this.$router.push("/");
      } catch (err) {
        this.err = err.response.data.message;
      }
      this.waitingForResponse = false;
    },

    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.password = "";
      this.form.passwordConfirm = "";
      this.form.profilePic = "";
    },

    login() {
      this.$router.push("/");
    },

    onFileSelect(event) {
      this.form.profilePic = event.target.files[0];
      this.displayImage();
    },

    displayImage() {
      const reader = new FileReader();

      reader.onload = (e) => {
        this.image = e.target.result;
      };

      reader.readAsDataURL(this.form.profilePic);
    },
  },
};
</script>

<style scoped>
.dropper {
  margin: 0 auto 40px;
  width: 50vw;
  height: 20vh;
  border: 3px black dashed;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
}

.dropper-filled {
  margin: 0 auto 40px;
  width: 200px;
  height: 5vh;
  border: 3px black dashed;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
}

.dropper > span {
  /* margin-top: 7%; */
  font-size: 20px;
}

.dropper > input,
.dropper-filled > input {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.profile-pic {
  margin: 0 auto 40px;
  width: 10vw;
}

.error-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: white;
  margin: 0px auto 20px;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 9999;
}
</style>