<template>
    <div>
        <!-- <b-button v-b-modal.modal-1>Launch demo modal</b-button> -->

        <b-modal :id="modalId" :title="title" @ok="$emit('ok')">
            <p class="my-4">{{message}}</p>
        </b-modal>
    </div>
</template>

<script>
export default {
    name:"Modal",
    props: {
        title: String,
        message: String,
        modalId: String
    },
    methods: {
    }
}
</script>

<style scoped>

</style>