<template>
  <div class="container">
    <div v-if="items.length">
      <b-table striped hover :items="items" :fields="fields">
        <template v-slot:cell(Actions)="row">
          <img src="../assets/trash-solid.svg" style="width: 15px; margin-left: 20px; cursor: pointer" @click="removeOne(row.item.drink_id)">
        </template>
      </b-table>
      <div class="total-container text-right">
        <h4>Total: Rs.{{totalAmount}}</h4>
      </div>
      <div class="report-buttons-container d-flex justify-content-between mt-4">
          <b-button variant="danger" @click="onRemoveAll">Remove all</b-button>
          <Modal title="Warning" message="Are you sure you want to remove all items from cart" modalId="order-remove-modal" @ok="emptyCart"></Modal>

          <Modal title="Confirmation" message="Do you want to order all your cart items and checkout" modalId="order-confirm-modal" @ok="onOrderConfirm"></Modal>
          <Modal title="Success" message="Orders successfully placed" modalId="order-success-modal" @ok="onOrderSuccess"></Modal>
          <b-button variant="success" @click="onCheckout">Checkout</b-button>
      </div>
    </div>
    <div v-else class="text-center mt-4 text-muted"><h3>Cart is empty</h3></div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import Modal from "./shared/Modal";

  export default {
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        fields: ['name', 'brand', 'volume', 'quantity', 'price', 'Actions'],
      }
    },
    methods: {
        ...mapGetters(["getCart"]),
        ...mapActions(["emptyCart", "orderDrinks", "removeOne"]),
        onCheckout(){
          this.$bvModal.show('order-confirm-modal')
        },
        onRemoveAll(){
          this.$bvModal.show('order-remove-modal')
        },
        async onOrderConfirm(){
          try{
            await this.orderDrinks(this.items.map(drink=>{
              return {
                drink_id: drink.drink_id,
                name: drink.name,
                volume: drink.volume,
                quantity: drink.quantity
              }
            }));
            this.$bvModal.show('order-success-modal');
          }catch(err){
            console.log(err.response.data.message)
          }
        },
        onOrderSuccess(){
          this.emptyCart();
          this.$router.push("/")
        },
    },
    computed:{
      totalAmount () {
        var total = 0;
        this.items.forEach((drink)=>{
          total += drink.price;
        })
        return total;
      },
      items(){
        return this.getCart().map((drink)=>{
            return {
              drink_id: drink._id, 
              name: drink.name, 
              brand: drink.brand, 
              volume: drink.selectedVol.volume, 
              quantity: drink.selectedQuantity, 
              price: drink.totalPrice
            }
        })
      }
    },
    components: {
      Modal
    }
  }
</script>


<style scoped>
</style>