<template>
    <div class="container">
        <h1>Drink Form</h1>
        <div class="card" style="padding:20px; margin-top: 20px">
            <b-form @submit="handleSubmit">

                <b-form-group id="input-group-2" label="Drink's Name:" label-for="input-2">
                    <b-form-input
                        id="input-1"
                        v-model="form.name"
                        required
                        placeholder="Enter Drink's name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-4" label="Brand:" label-for="input-4">
                    <b-form-input
                        id="input-2"
                        v-model="form.brand"
                        required
                        placeholder="Enter brand"
                    ></b-form-input>
                </b-form-group>
                
                Volumes:
                <!-- <b-form inline v-for="volume in form.volumes" :key="volume.id" class="mb-3 mt-2"> -->
                <div v-for="volume in form.volumes" :key="volume.id" style="display:flex" class="mb-2 mt-2">
                    <label class="sr-only" for="inline-form-input-name">Volume</label>
                    <b-input-group prepend="L" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-input
                            id="inline-form-input-name"
                            placeholder="Volume"
                            type="number"
                            v-model="volume.volume"
                            step=".01"
                            required
                        ></b-input>
                    </b-input-group>

                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">  
                        <b-input id="inline-form-input-username" placeholder="Stock" type="number" v-model="volume.stock_count" required></b-input>
                    </b-input-group>

                    <b-input-group prepend="Rs." class="mb-2 mr-sm-2 mb-sm-0">
                        <b-input id="inline-form-input-username" placeholder="Price" type="number" v-model="volume.price" step=".1" required></b-input>
                    </b-input-group>

                    <b-button variant="outline-primary" class="mr-2" @click="addVolume">
                        <i class="fas fa-plus"></i>
                    </b-button>
                    <b-button variant="outline-primary" v-if="volume.id!=0" @click="removeVolume(volume.id)">
                        <i class="fas fa-minus"></i>
                    </b-button>
                    <b-button v-else style="opacity: 0" disabled>
                        <i class="fas fa-minus"></i>
                    </b-button>
                </div>
                <!-- </b-form> -->

                <b-form-group id="input-group-4" label="Alcohol Content:" label-for="input-4" prepend="%">
                    <b-input-group prepend="%">
                        <b-form-input
                            type= "number"
                            max="100"
                            min="0"
                            id="input-2"
                            v-model="form.alochol_content"
                            placeholder="Enter alcohol content"
                            step=".01"
                            required
                        ></b-form-input>
                    </b-input-group>
                </b-form-group>

                <b-form-group id="input-group-4" label="Image:" label-for="input-4">
                    <b-form-file
                        id="input-2"
                        v-model="form.image"
                        accept="image/*"
                    ></b-form-file>
                </b-form-group>

                <b-button type="submit" variant="primary">Submit</b-button>
            </b-form>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: "DrinkForm",
    data: () => {
        return{
            form: {
                name: "",
                brand: "",
                volumes:[{
                    id: 0,
                    volume: null,
                    stock_count: null,
                    price: null 
                }],
                alcohol_content: null,
                image: null
            }
        }
    },
    methods: {
        ...mapActions(["createDrink"]),
        addVolume(){
            let nextInd = this.form.volumes.length;
            this.form.volumes.push({
                id: nextInd,
                volume: null,
                available_number: null,
                price: null
            })
        },
        removeVolume(id){
            this.form.volumes.splice(id, 1);            
        },
        async handleSubmit(event){
            event.preventDefault();
            try{
                await this.createDrink(this.form);
                this.$router.push("/");
            }catch(err){
                console.log(err.message);
            }
        }
    }
}
</script>