<template>
  <div class="container">
    <!-- <h1>Drinks</h1> -->

    <div class="error-container" v-if="err && !waitingForResponse">
      <img
        src="../assets/exclamation-triangle-solid.svg"
        style="width: 20px; margin-right: 20px"
      />
      {{ err }}
    </div>

    <form @submit="onSearch">
      <div
        class="searchbar-container my-4 d-flex justify-content-center form-group"
      >
        <input
          class="form-control w-50"
          type="search"
          placeholder="Search"
          aria-label="Search"
          v-model="searchTerm"
        />
        <button class="btn btn-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

    <div class="drinks-container">
      <DrinkItem
        v-for="drink in getDrinks()"
        :key="drink._id"
        :drink="drink"
        style
      ></DrinkItem>
    </div>

    <div
      class="text-center mt-3 d-flex justify-content-center"
      v-if="waitingForResponse"
    >
      <b-spinner variant="dark" key="variant" type="grow"></b-spinner>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import DrinkItem from "./DrinkItem";

export default {
  name: "Drinks",
  data() {
    return {
      searchTerm: "",
      err: null,
      waitingForResponse: false,
    };
  },
  components: {
    DrinkItem,
  },
  methods: {
    ...mapActions(["fetchDrinks"]),
    ...mapGetters(["getDrinks"]),
    async onSearch(e) {
      e?.preventDefault();
      this.waitingForResponse = true;
      try {
        await this.fetchDrinks(this.searchTerm);
      } catch (err) {
        this.err = err.response.data.message;
      }
      this.waitingForResponse = false;
    },
  },
  created() {
    this.onSearch();
  },
};
</script>

<style scoped>
h1 {
  margin: 20px;
}
.drinks-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media screen and (max-width: 768px) {
  .drinks-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
.error-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: white;
  margin-left: 50%;
  margin-top: 3vh;
  transform: translate(-50%);
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 9999;
}
</style>