<template>
  <div class="drink-card card p-1 shadow-lg" style="width: 15rem">
    <img :src="imgUrl" alt="#" class="card-img" style="max-height: 250px" />
    <div class="card-body">
      <h4 class="card-title">{{ drink.name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ drink.brand }}</h6>
    </div>
    <div class="card-form" v-if="role == 'customer'">
      <div class="mb-3 mx-auto w-75 d-flex">
        <b-form-select v-model="selectedVol" id="volume">
          <b-form-select-option :value="null" style="color: #858383"
            >Volume</b-form-select-option
          >
          <b-form-select-option
            :value="vol"
            v-for="vol in drink.volumes"
            :key="vol._id"
            >{{ vol.volume }}</b-form-select-option
          >
        </b-form-select>
        <div class="liter d-inline" style="color: #858383">L</div>
      </div>
      <p v-if="!selectedVol" class="mx-auto" style="color: #858383">
        Select volume to order
      </p>
      <div v-if="selectedVol" class="d-flex align-items-center">
        <label for="sb" class="mr-2">Quantity</label>
        <b-form-spinbutton
          id="sb"
          v-model="selectedQuantity"
          min="0"
          :max="selectedVol.stock_count"
        ></b-form-spinbutton>
      </div>
      <div
        class="buy d-flex justify-content-between align-items-center mt-3"
        v-if="selectedVol"
      >
        <div class="price text-success">
          <h5>Rs.{{ totalPrice }}</h5>
        </div>
        <a href="#" class="btn btn-danger" @click="onClick"
          ><i class="fas fa-shopping-cart"></i> Add to Cart</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "DrinkItem",
  props: {
    drink: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedVol: null,
      selectedQuantity: 1,
    };
  },
  computed: {
    imgUrl() {
      return this.drink.image;
    },
    totalPrice() {
      return this.selectedVol.price * this.selectedQuantity;
    },
    role() {
      return window.localStorage.getItem("role");
    },
  },
  methods: {
    ...mapActions(["addCartDrink"]),
    onClick() {
      this.addCartDrink({
        ...this.drink,
        selectedVol: this.selectedVol,
        selectedQuantity: this.selectedQuantity,
        totalPrice: this.totalPrice,
      });
    },
    onClose() {
      this.selectedVol = null;
    },
  },
  updated() {
    if (this.selectedQuantity == 0) {
      this.selectedVol = null;
      this.selectedQuantity = 1;
    }
  },
};
</script>

<style scoped>
img {
  height: 300px;
}
.container {
  display: inline-block;
  background: red;
}
.liter {
  width: 30px;
  text-align: center;
  background-color: #e9ecef;
  border-radius: 3px;
  font-size: x-large;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .drink-card {
    margin: auto;
  }
}
</style>