<template>
  <div>
    <b-navbar toggleable="lg" class="navbar">
      <b-navbar-brand href="#" @click="$router.push('/')"
        >S.S Liquors</b-navbar-brand
      >

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="#" @click="$router.push('/')">Home</b-nav-item>
          <b-nav-item
            href="#"
            @click="$router.push('/cart')"
            class="cart"
            v-if="isCustomer"
          >
            <img
              src="../assets/shopping-cart-solid.svg"
              alt=""
              style="width: 20px"
            />
            <div class="cart-count" v-if="totalCartItems">
              {{ totalCartItems }}
            </div>
          </b-nav-item>
          <b-nav-item @click="$router.push('/history')" v-if="isStoreOwner">
            Orders
          </b-nav-item>
          <b-nav-item @click="$router.push('/new-drink')" v-if="isStoreOwner">
            Add
          </b-nav-item>
          <b-nav-item-dropdown text="User" right>
            <b-dropdown-item @click="$router.push('/history')" v-if="isCustomer"
              >Order History</b-dropdown-item
            >
            <b-dropdown-item @click="logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "NavBar",
  data: () => {
    return {
      role: "",
    };
  },
  methods: {
    ...mapGetters(["getRole", "getCart"]),
    ...mapActions(["logout"]),
  },
  computed: {
    isStoreOwner() {
      return this.role == "store-owner";
    },
    isCustomer() {
      return this.role == "customer";
    },
    totalCartItems() {
      var total = null;
      this.getCart().forEach((drink) => {
        total += drink.selectedQuantity;
      });
      return total;
    },
  },
  created() {
    this.role = this.getRole();
  },
};
</script>

<style scoped>
.navbar {
  background-color: rgba(255, 255, 255, 0.279);
}
.cart {
  position: relative;
}

.cart-count {
  background-color: #e65d59;
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  right: 1px;
  border-radius: 15px;
  color: whitesmoke;
  font-size: 14px;
}
</style>