<template>
    <div class="container">

        <div class="error-container" v-if="err && !waitingForResponse">
            <img src="../assets/exclamation-triangle-solid.svg" style="width:20px; margin-right: 20px">
            {{err}}
        </div>

        <div v-if="orders.length" class="table-container">
            <b-nav tabs class="mt-4">
                <b-nav-item :active="activeTab=='all'" @click="activeTab='all'">All</b-nav-item>
                <b-nav-item :active="activeTab=='pending'" @click="activeTab='pending'">Pending</b-nav-item>
                <b-nav-item :active="activeTab=='received'" @click="activeTab='received'">Received</b-nav-item>
            </b-nav>

            <b-table striped hover :items="orders" :fields="fields" :filter="activeTab=='all'?null:activeTab" :filter-included-fields="['status']" class="table">

                <template v-slot:cell(order_date)="row">
                    <b-form-label>{{row.item.order_date | formatDate}}</b-form-label>
                </template>              

                <template v-slot:cell(drinks)="rows">
                    <b-list-group>
                        <b-list-group-item class="d-flex justify-content-between align-items-center" v-for="(row, i) of rows.item.drinks" :key="i">
                            {{row.name}}<span class="text-muted">{{row.volume}}L</span>
                            <b-badge variant="primary" pill>{{row.quantity}}</b-badge>
                        </b-list-group-item>
                    </b-list-group>
                </template>

                <template v-slot:cell(status)="row">
                    <b-button :variant="buttonVariant(row.item.status)" :disabled="row.item.status!=='pending'" @click="onClick(row.item.id, actions.receive)">{{
                        row.item.status==="received" && role==="store-owner" ? "sent":row.item.status
                    }}</b-button>

                    <b-button variant="danger" v-if="row.item.status=='pending'" class="ml-3" @click="onClick(row.item.id, actions.cancel)">cancel</b-button>
                </template>
            </b-table>

            <Modal :title="modal.title" :message="modal.message" modalId="order-modal" @ok="onConfirmation"></Modal>
        </div>

        <div v-else-if="!waitingForResponse && !err" class="text-center mt-4 text-muted">
            <h3>No orders</h3>
        </div>

        <div class="text-center mt-3 d-flex justify-content-center" v-if="waitingForResponse">
            <b-spinner
                variant="dark"
                key="variant"
                type="grow"
            ></b-spinner>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Modal from "./shared/Modal";
import moment from 'moment';

export default {

    name: "OrderHistory",

    data(){
        return{
            activeTab: 'all',
            fields: ["order_date", "drinks", "status"],
            orderToUpdate: {
                id: null,
                newStatus: null
            },
            actions: {
                receive: "RECEIVE",
                cancel: "CANCEL"
            },
            modal: {
                title: null,
                message: null
            },
            waitingForResponse: false,
            err: null
        }
    },

    components: {
        Modal
    },

    methods: {

        ...mapActions(["fetchOrders", "orderStatusUpdate"]),

        ...mapGetters(["getMyOrders", "getRole"]),
        
        buttonVariant(status){
            switch(status){
                case "pending":
                    return "primary"
                case "received":
                    return "success"
                default:
                    return ""
            }
        },
        
        onClick(id, action){
            this.orderToUpdate.id = id;
            if(action == this.actions.receive){
                this.orderToUpdate.newStatus = "received" 
                this.modal.title = "Confirmation";
                this.modal.message = this.role==="store-owner" ? "Have you delivered the order?":"Have you received the order?"
                this.$bvModal.show('order-modal');
            }else if(action == this.actions.cancel){
                this.orderToUpdate.newStatus = "cancelled" 
                this.modal.title = "Warning";
                this.modal.message = "Are you sure you want to cancel this order?";
                this.$bvModal.show('order-modal')
            }
        },

        onConfirmation(){
            this.orderStatusUpdate({id: this.orderToUpdate.id, body:{status: this.orderToUpdate.newStatus}})
        },

        filterTable(a,b){
            console.log(a,b)
            return true;
        }

    },

    async created(){
        this.waitingForResponse = true;
        try{
            await this.fetchOrders();
        }catch(err){
            this.err = err.response.data.message;
        }
        this.waitingForResponse = false;
    },

    computed: {

        orders(){
            return this.getMyOrders().map((order)=>{
                return {
                    id:  order._id,
                    order_date: order.order_date,
                    drinks: order.drinks,
                    // drinks: order.drinks.map(drink=>
                    //     `${drink.name} ${drink.volume}L - ${drink.quantity} bottles`
                    // ),
                    status: order.status
                }
            })
        },

        role(){
            return this.getRole();
        }

    },

    filters: {

        formatDate: function(value){
            if(!value) return ' '
            return moment(String(value)).format('DD/MM/YYYY hh:mm');
        }

    }

}
</script>

<style scoped>
    .error-container{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: inline-block;
        text-align:center; 
        background-color: red; 
        color: white;
        margin-left: 50%;
        margin-top: 3vh;
        transform: translate(-50%);
        padding: 10px 40px;
        border-radius: 8px;
        z-index:9999;
    }
</style>