<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <script
      src="https://kit.fontawesome.com/f0700b4491.js"
      crossorigin="anonymous"
    ></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
    html,
    body {
      min-height: 100%;
    }
    body {
      background-image: linear-gradient(to right, #ff9966, #ff5e62);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: left top;
    }
  </style>
</html>
